<div class="container">
    <nav class="navbar navbar-light">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2"
            aria-expanded="false" aria-label="Toggle navigation">&#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
            <a routerLink="/" routerLinkActive="active" class="navbar-brand">LabOrTool</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item">
                    <a routerLink="/activity" routerLinkActive="active" class="nav-link">Activity<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/production" routerLinkActive="active" class="nav-link">Production</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/project" routerLinkActive="active" class="nav-link">Project</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link" id="dropdownMenuButton dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Inventory</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/inventory/component" routerLinkActive="active">Component</a>
                            <a class="dropdown-item" routerLink="/inventory/manufacturer" routerLinkActive="active">Manufactuer</a>
                            <a class="dropdown-item" routerLink="/inventory/distributor" routerLinkActive="active">Distributor</a>
                            <a class="dropdown-item" routerLink="/inventory/location" routerLinkActive="active">Location</a>
                            <a class="dropdown-item" routerLink="/inventory/footprint" routerLinkActive="active">Footprint</a>
                            <a class="dropdown-item" routerLink="/inventory/category" routerLinkActive="active">Category</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="margin-top">
        <router-outlet></router-outlet>
    </div>

</div>