<search-distributor></search-distributor>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>WebSite</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let distributor of ServerData">
                <td (click)="goToView(distributor)">{{distributor?.DistributorName}}</td>
                <td><a href="{{distributor?.DistributorWebSite}}">Link</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button type="button" class="btn btn-primary pull-xs-right" (click)="goToAdd()">Add +</button>
