<br>
<h1 class="text-xs-center">Footprint informations!</h1>
<br>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerFootprint?.Id == 0" class="form-control" type="text" [value]="ClientFootprint?.Name" id="example-text-input">
        <input *ngIf="ServerFootprint?.Id > 0" class="form-control" type="text" [value]="ServerFootprint?.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">WebSite</label>
    <div class="col-xs-10">
        <input *ngIf="ServerFootprint?.Id == 0" class="form-control" type="text" [value]="ClientFootprint?.WebSite" id="example-text-input">
        <input *ngIf="ServerFootprint?.Id > 0" class="form-control" type="text" [value]="ServerFootprint?.WebSite" id="example-text-input">
    </div>
</div>

<br>
<div *ngIf="ServerFootprint?.Id == 0">
    <button type="button" class="btn btn-primary" (click)="goToFootprint()">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="postFootprint(); goToFootprint()">Add</button>
</div>
<div *ngIf="ServerFootprint?.Id > 0">
    <button type="button" class="btn btn-primary" (click)="goToView(ServerFootprint)">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="putFootprint(ServerFootprint); goToView(ServerFootprint)">Save</button>
</div>
<br>
<br>
<br>