<br>
<h1 class="text-xs-center">Component informations!</h1>
<br>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.Name" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.ManufacturerName" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.ManufacturerName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer WebSite</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.ManufacturerWebSite" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.ManufacturerWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Part Number</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.PartNumber" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.PartNumber" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.DistributorName" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.DistributorName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor WebSite</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.DistributorWebSite" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.DistributorWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Code</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.DistributorCode" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.DistributorCode" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Price</label>
    <div class="col-xs-10">
        <div class="input-group">
            <div class="input-group-addon">€</div>
            <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.Price" id="example-text-input">
            <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.Price" id="example-text-input">  
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Code</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.Code" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.Code" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Position</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.LocationPosition" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.LocationPosition" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Container</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.LocationContainer" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.LocationContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Sub Container</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.LocationSubContainer" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.LocationSubContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Datasheet Link</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.Datasheet" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.Datasheet" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.FootprintName" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.FootprintName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Link</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.FootprintLink" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.FootprintLink" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.CategoryName" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.CategoryName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Note</label>
    <div class="col-xs-10">
        <input *ngIf="ServerComponent.Id == 0" class="form-control" type="text" [value]="ClientComponent?.CategoryNote" id="example-text-input">
        <input *ngIf="ServerComponent.Id > 0" class="form-control" type="text" [value]="ServerComponent.CategoryNote" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Note</label>
    <div class="col-xs-10">
        <textarea *ngIf="ServerComponent.Id == 0" class="form-control" rows="3"  [value]="ClientComponent?.Note" id="example-text-input"></textarea>
        <textarea *ngIf="ServerComponent.Id > 0" class="form-control" rows="3"  [value]="ServerComponent.Note" id="example-text-input"></textarea>
    </div>
</div>
<br>
<div *ngIf="ServerComponent.Id == 0">
    <button type="button" class="btn btn-primary" (click)="goToInventory()">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="postComponent(); goToInventory()">Add</button>
</div>
<div *ngIf="ServerComponent.Id > 0">
    <button type="button" class="btn btn-primary" (click)="goToInventory()">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="putComponent(ServerComponent); goToView(ServerComponent)">Save</button>
</div>
<br>
<br>
<br>