<br>
<h1 class="text-xs-center">Component informations!</h1>
<br>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent?.ComponentName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerManufacturer?.ManufacturerName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer WebSite</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerManufacturer.ManufacturerWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Part Number</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.ComponentPartNumber" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerDistributor?.DistributorName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor WebSite</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerDistributor?.DistributorWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Code</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent?.ComponentDistributorCode" id="example-text-input">
    </div>
</div>

<div class="form-group row">

    <label for="example-text-input" class="col-xs-2 col-form-label">Price</label>
    <div class="col-xs-10">
        <div class="input-group">
            <div class="input-group-addon">€</div>
            <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent?.ComponentPrice" id="example-text-input">  
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Code</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent?.ComponentCode" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Location</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerLocation?.LocationPosition" id="example-text-input">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerLocation?.LocationContainer" id="example-text-input">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerLocation?.LocatoinSubContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Datasheet Link</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent?.ComponentDatasheet" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerFootprint?.FootprintName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Link</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerFootprint?.FootprintLink" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategory?.CategoryName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerCategory?.CategoryNote" id="example-text-input"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category parameter type name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCatParamType?.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category parameter type order</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCatParamType?.Order" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category parameter type note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerCatParamType?.Note" id="example-text-input"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerUnit?.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit short name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerUnit?.ShortName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerUnit?.Note" id="example-text-input"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Component parameter value</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponentParam?.Value" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Component parameter prefix</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerComponentParam?.Prefix" id="example-text-input"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Component parameter note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerComponentParam?.Note" id="example-text-input"></textarea>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Component note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerComponent?.Note" id="example-text-input"></textarea>
    </div>
</div>
<br>
<div>
    <button type="button" class="btn btn-primary" (click)="goToComponent()">Back</button>
    <button type="button" class="btn btn-success pull-xs-right" (click)="goToEdit(ServerComponent)">Edit</button>
    <button type="button" class="btn btn-danger pull-xs-right margin-right" (click)="deleteComponent(ServerComponent)">Delete</button>
</div>
<br>
<br>
<br>