<my-breadcrumbs></my-breadcrumbs>

<search-component-acti></search-component-acti>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Work Order</th>
                <th>Employee</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activiry of serverActivitys" class="success">
                <td>{{activity?.Id}}</td>
                <td>{{activity?.Title}}</td>
                <td>{{activity?.WorkCode}}</td>
                <td>{{activity?.Employee}}</td>
                <td>{{activity?.Priority}}</td>
                <td>{{activity?.Status}}</td>
                <td>{{activity?.Type}}</td>
                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <!-- call get by id -->
                        <a class="btn btn-success" href="http://localhost:8080/labortool/activity/view/485" role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>

                        <!-- call put by id -->
                        <a class="btn btn-success" href="http://localhost:8080/labortool/activity/edit/485" role="button">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                        <!-- call put by id -->
                        <a class="btn btn-success" href="http://localhost:8080/labortool/activity/add-note/485" role="button">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        </a>

                        <!-- call delete by id -->
                        <a class="btn btn-success" href="http://localhost:8080/labortool/activity/delete/485" role="button">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </a>

                        <!-- ?? copy to clypboar ?? -->
                        <a class="btn btn-success" href="http://localhost:8080/labortool/activity/copy/485" role="button">
                            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<add-btn-acti class="pull-right" [routerLink]="['/activity/add']" routerLinkActive="active"></add-btn-acti>
