<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">LabOrTool</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/activity']" routerLinkActive="active">Activity</a></li>
                <li><a [routerLink]="['/production']" routerLinkActive="active">Production</a></li>
                <li><a [routerLink]="['/project']" routerLinkActive="active">Project</a></li>
                <li><a [routerLink]="['/inventory']" routerLinkActive="active">Inventory</a></li>
                <li><a [routerLink]="['/about']" routerLinkActive="active">About</a></li>
            </ul>
        </div>
    </div>
</nav>