<br>
<h1 class="text-xs-center">Location informations!</h1>
<br>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Position</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerData?.LocationPosition" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Container</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerData?.LocationContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Sub Container</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerData?.LocationSubContainer" id="example-text-input">
    </div>
</div>

<br>
<div>
    <button type="button" class="btn btn-primary" (click)="goToLocation()">Back</button>
    <button type="button" class="btn btn-success pull-xs-right" (click)="goToEdit(ServerData)">Edit</button>
    <button type="button" class="btn btn-danger pull-xs-right margin-right" (click)="deleteLocation(ServerData)">Delete</button>
</div>
<br>
<br>
<br>