<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="row text-center">
                        <label>Text</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Text...">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="row text-center">
                        <label class="text-center">Status</label>
                    </div>
                    <div>
                        <select class="form-control">
                                <option value="0" >All</option>
                                <option value="1" >Not Started</option>
                                <option value="2" >In Progress</option>
                                <option value="3" >Ended</option>
                                <option value="4" >Postponed</option>
                                <option value="5" >Waiting</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="row text-center">
                        <label class="text-center">Type</label>
                    </div>
                    <div>
                        <select class="form-control">
                                <option value="0" >All</option>
                                <option value="1" >Board</option>
                                <option value="6" >Hardware</option>
                                <option value="4" >Firmware</option>
                                <option value="2" >Repair</option>
                                <option value="3" >Support</option>
                                <option value="5" >Production</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="row text-center">
                        <label class="text-center">Priority</label>
                    </div>
                    <div>
                        <select class="form-control">
                                <option value="0" >All</option>
                                <option value="1" >Low</option>
                                <option value="2" >Medium</option>
                                <option value="3" >High</option>
                                <option value="4" >Now</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <div class="row text-center">
                        <label>Employee</label>
                    </div>
                    <div>
                        <select class="form-control">
                                <option value="0" >All</option>
                                <option value="5" >Albanesi Mariano</option>
                                <option value="8" >Civale Matteo</option>
                                <option value="7" >Fioravanti Matteo</option>
                                <option value="9" >Giacomucci Simone</option>
                                <option value="1" >Giammarini Marco</option>
                                <option value="4" >Neri Jacopo</option>
                                <option value="2" >Orlandini Nicola</option>
                                <option value="6" >Piunti Francesco</option>
                                <option value="3" >Romiti Giuseppe</option>
                            </select>
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <div class="row text-center">
                        <label>&nbsp;</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary center-block">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <div class="row text-center">
                        <label>&nbsp;</label>
                    </div>
                    <div>
                        <button type="reset" class="btn btn-primary center-block">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>