<search-category></search-category>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Category Id</th>
                <th>Unit Id</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let catparamtype of ServerCatParamTypes" (click)="goToView(catparamtype)">
                <td>{{catparamtype?.Name}}</td>
                <td>{{catparamtype?.CategoryId}}</td>
                <td>{{catparamtype?.UnitId}}</td>
                <td>{{catparamtype?.Order}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
