<br>
<h1 class="text-xs-center">Category informations!</h1>
<br>
<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input *ngIf="ServerCategory?.Id == 0" class="form-control" type="text" [value]="ClientCategory?.Name" id="example-text-input">
        <input *ngIf="ServerCategory?.Id > 0" class="form-control" type="text" [value]="ServerCategory?.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Note</label>
    <div class="col-xs-10">
        <textarea *ngIf="ServerCategory?.Id == 0" class="form-control" rows="3" [value]="ClientCategory?.Note" id="example-text-input"></textarea>
        <textarea *ngIf="ServerCategory?.Id > 0" class="form-control" rows="3" [value]="ServerCategory?.Note" id="example-text-input"></textarea>
    </div>
</div>

<br>
<div *ngIf="ServerCategory?.Id == 0">
    <button type="button" class="btn btn-primary" (click)="goToCategory()">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="postCategory(); goToCategory()">Add</button>
</div>
<div *ngIf="ServerCategory?.Id > 0">
    <button type="button" class="btn btn-primary" (click)="goToView(ServerCategory)">Back</button>
    <button type="submit" class="btn btn-success pull-xs-right" (click)="putCategory(ServerCategory); goToView(ServerCategory)">Save</button>
</div>
<br>
<br>
<br>