<br>
<h1 class="text-xs-center">Component informations!</h1>
<br>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.Name" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.ManufacturerName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Manufacturer WebSite</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.ManufacturerWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Part Number</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.PartNumber" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.DistributorName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor WebSite</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.DistributorWebSite" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Distributor Code</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.DistributorCode" id="example-text-input">
    </div>
</div>

<div class="form-group row">

    <label for="example-text-input" class="col-xs-2 col-form-label">Price</label>
    <div class="col-xs-10">
        <div class="input-group">
            <div class="input-group-addon">€</div>
            <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.Price" id="example-text-input">  
        </div>
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Code</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.Code" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Position</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.LocationPosition" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Container</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.LocationContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Sub Container</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.LocationSubContainer" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Datasheet Link</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.Datasheet" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.FootprintName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Footprint Link</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.FootprintLink" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.CategoryName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Note</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerComponent.CategoryNote" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerComponent.Note" id="example-text-input"></textarea>
    </div>
</div>
<br>
<div>
    <button type="button" class="btn btn-primary" (click)="goToInventory()">Back</button>
    <button type="button" class="btn btn-success pull-xs-right" (click)="goToEdit(ServerComponent)">Edit</button>
    <button type="button" class="btn btn-danger pull-xs-right margin-right" (click)="deleteComponent(ServerComponent)">Delete</button>
</div>
<br>
<br>
<br>