<search-footprint></search-footprint>
<br>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>WebSite</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let footprint of ServerFootprints">
                <td (click)="goToView(footprint)">{{footprint?.FootprintName}}</td>
                <td><a href="{{footprint?.FootprintLink}}">Link</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button type="button" class="btn btn-primary pull-xs-right" (click)="goToAdd()">Add +</button>
