<br>
<h1 class="text-xs-center">Category Parameter Type informations</h1>
<br>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Parameter Type Id</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeId" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Id</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeCategory" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Category Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategory?.CategoryName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit Id</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeUnit" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerUnit?.UnitName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Unit Short Name</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerUnit?.UnitShortName" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Order</label>
    <div class="col-xs-10">
        <input class="form-control" type="text" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeOrder" id="example-text-input">
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Note</label>
    <div class="col-xs-10">
        <textarea class="form-control" rows="3" [disabled]="true" [value]="ServerCategoryParamType?.CategoryParamTypeNote" id="example-text-input"></textarea>
    </div>
</div>
<br>
<div>
    <button type="button" class="btn btn-primary" (click)="goToCatParamType()">Back</button>
</div>
<br>
<br>
<br>